
/*
========================
CSS global
=======================
*/
@charset "UTF-8";
*{
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
:root{
  --Cor1DaPaletaClara: rgb(179, 178, 178);
  --Cor2DaPalaetaClara : rgb(209, 197, 197);
  --CorPreta: rgba(4, 3, 3, 0.911);
  --FonteArial: Arial;
  --FontSizeGrande: 30px;
  --FontSizeMedio: 18px;
  --FontSizePequeno: 14px;
  --CorVermelhaEscura: rgba(157, 14, 14, 0.944);
  --CorBranca: #fff;
  --LinearVermelho: linear-gradient(to right, #f00, rgb(216, 22, 22), rgb(184, 19, 19), rgb(153, 15, 15));
  --LinearGradienteVermelho2: linear-gradient(to left, #cd0101db, #ba0110, #cd0101be);
  --LinearGradientBlue: linear-gradient( to left, #E2D5C4, #577887, #060A0D);
  --LinearGradientBlack: linear-gradient(to left, #040809d0, #05090cfe, #05090ceb);
  --LinearGradientBlack2: linear-gradient(to right, #040809a0, #05090cd2, #05090c);
  --LinearBody: linear-gradient(to right, rgba(106, 104, 104, 0.864),  rgba(234, 225, 225, 0.889),  rgba(230, 230, 230, 0.683),rgba(240, 240, 240, 0.798));
} 
.BodyPrincipal{
  background-image: var(--LinearGradientBlue);
}
/*
========================
Css do Menu Principal
========================
*/
.BemVindo{
  background: url("../img/imagemreduzida.jpg");
  background-attachment: fixed;
  height: 700px;
  position: relative;
}
.Menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-content: end;
  height: 80px;
  background: var(--LinearGradientBlack2);
}
.Menu li{
  margin-top: 25px;
}
.Menu li a{
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: var(--CorBranca);
}
.Menu li a:hover{
  border-bottom: 2px solid red;
}
@keyframes hovermenu {
  20%{
    border: solid var(--CorVermelhaEscura);
    border-bottom-width: 2px;
  }
  40%{
    border: solid var(--CorVermelhaEscura);
    border-bottom-width: 3px;
  }
  60%{
    border: solid var(--CorVermelhaEscura);
    border-bottom-width: 4.5px;
  }
  80%{
    border: solid var(--CorVermelhaEscura);
    border-bottom-width: 5px;
  }
  100%{
    border: solid var(--CorVermelhaEscura);
    border-bottom-width: 6px;
  }
}
.InforSobreNos{
  text-align: center;
  border-radius: 10px;
  gap: 10px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 100px 200px 100px;
  margin-top: 50px;
  margin-left: 20px;
  background: var(--LinearGradientBlack2);
  height: 400px;
  width: 400px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.InforSobreNos p{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.InforSobreNos h2{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}
/*
=========================
/ Css do Grid de anúncio
/Do Index
=========================
*/

/*
============================
/Css do Main
============================
*/

#Introducao{
  display: grid;
  gap: 20px;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#Introducao img{
  width: 500px;
  height: 500px;
  border-radius: 5px;
 clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.IntroducaoHistoria {
  display: grid;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;;
}
.IntroducaoHistoria h2{
  padding: 10px;
  text-align: center;
  place-self: center center;
  color: rgba(190, 10, 10, 0.887);
}
.IntroducaoHistoria h2:first-letter{
  font-size: 28px;
  border-top: 2px solid var(--CorVermelhaEscura);
}
.IntroducaoHistoria p{
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  line-height: -4px;
}
.IntroducaoHistoria p::first-letter{
  margin-left: 40px;
}
.IntroducaoHistoria a{
  text-decoration: none;
  border-radius: 10px;
  background: var(--CorVermelhaEscura);
  padding: 10px;
  place-self: center;
  color: beige;
}
.InforImportante{
  color: rgba(157, 14, 14, 0.944);
}
#AmostraDeVeiculos{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 120px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
#classico{
  background-image: url("../img/urbano.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  background-position: center cover;
}
#esportivo{
  background-image: url("../img/esportivo.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  background-position: center cover;
}
#urbano{
  background-image: url("../img/classico.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  background-position: center cover;
}
.SaibaMais{
  background: var(--LinearGradienteVermelho2);
  padding: 10px;
}
.EstiloDeVeiculo{
  text-align: center;
  width: 300px;
  height: 480px;
  clip-path: polygon(20% 0, 80% 0, 60% 120%, 0 120%);
  box-shadow: 5px 5px 10px black;
  grid-template-columns: 400px;
}
.EstiloDeVeiculo a{
  display: inline-block;
  padding: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.EstiloDeVeiculo img{
  max-width: 300px;
  height: 500px;
}
.AmotraDeSeguro{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  place-content: center;
  gap: 20px;
  height: 700px;
  background: var(--LinearGradientBlack);
}
.PlanoDeSeguro{
  border-radius: 5px;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 80px 300px 60px;
  width: 400px;
  height: 460px;
  background: #f0f0f0;
}
.PlanoDeSeguro h2{
  font-size: 40px;
}
.Preco{
  background: red;
}
.ItensDeSeguro{
  background: var(--LinearGradientBlue);
}
.Mesalidade{
  display: inline-block;
  background-color: #577887;
}
#Prata{
  margin-top: 120px;
  align-self: end;
}
#Bronze{
  margin-top: 120px;
}
#Ouro{

}
.FooterMain{
  display: flex;
  place-content: center center;
  padding: 20px;font-family: var(--FonteArial);
  color: whitesmoke;
  background: var(--LinearGradientBlack);
}
.FooterMain p{
  text-align: center;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
